#SoccerStop {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family:Sans-serif;
  line-height: 1.5em;
}

main {
  position: fixed;
  left: 130px;
  bottom: 100px; /* Set this to the height of the footer */
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
}
p{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  position: relative;
  line-height: 50px;
  letter-spacing: normal;
  text-align: center;
  display: block;
  /* margin-left: 250px;
  margin-right: 250px; */
    color: #555;
}
.title{
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: inherit;
  text-decoration: underline;
}
h4{
  text-align: center;
  line-height: 0px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 25px;
}
#tab{
  float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #000;
   overflow:hidden;
   position:relative;
}


footer {

  text-align: center;
  font-family: fantasy;
  position: fixed;
  /* left: 130px; */
  bottom: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #fff;
  border-top: 3px solid black;
  border-right: 3px solid black;
  
}

#footerpic{
text-align: center;
margin-bottom: 15px;
margin-top: 20px;

}

#logo {
  padding:-2px;
}

.innertube {
  margin: 0px;
}

* html body{
  padding: 0 0 100px 230px;
}

* html main{
  height: 100%;
  width: 100%;
}
div{
  display: block;
}
#tab ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#tab ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#tab ul li a {
   display:block;
   margin:1px 0 0 15px;
   padding:12px 15px;
   background:#E5A8A8;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#tab ul li a:hover {
   background:#dddd;
   color:#fff;
}
#tab ul li a.active,
#tab ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}
.slider-holder  {
width: 450px;
height: 400px;
background-color: white;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
text-align: center;
overflow: hidden;
}

.image-holder
{
width: 1800px;
background-color: white;
height: 300px;
clear: both;
position: relative;

-webkit-transition: left 2s;
-moz-transition: left 2s;
-o-transition: left 2s;
transition: left 2s;
}

.slider-image
{
float: left;
margin: 0px;
padding: 0px;
position: relative;
}

#slider-image-1:target ~ .image-holder
{
left: 0px;
}

#slider-image-2:target ~ .image-holder
{
left: -764px;
}

#slider-image-3:target ~ .image-holder
{
left: -900px;
}

.button-holder
{
position: relative;
top: -20px;
}

.slider-change{
 display: inline-block;
 height: 15px;
 width: 10px;
 border-radius: 15px;
 background-color: black;
 }

 table{
  
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse;
  width: 80%;
 }

 td, th{
   border: 1px solid black;
   text-align: center;
   padding: 8px;
 }
 tr:nth-child(even){
   background-color: #dddddd;
 }

 .sidebar {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 6px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 8px;
}
button{
  background-color: red;
  color: white;
  padding: 15px 22px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.video-container {
  position: relative;
  text-align: center;
  padding-bottom: 20%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  }
  .video-container iframe,  
  .video-container object,  
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  }

  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

@media screen and (max-width: 375px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width:320px) {
  body{
    width: 120px;
}
}

@media screen and (min-width:320px) and (max-width:640px) {
  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}
@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}

@media (min-width: 375px) { body {font-size:0.5rem;} } 
@media (min-width:600px) { body {font-size:0.75rem;} } 
@media (min-width:960px) { body {font-size:1.0rem;} }

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: -moz-grid-group;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
    width: 100%;
    font-size: 12px;
    text-align: center;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}